.nav {
    border: 2px solid black;
    display:flex;
    background-color: gray;
    margin: auto;
}
h1 {
    font-size: 16pt;
    color: white;
    font-family: "Roboto", sans-serif;
}
.nav-links {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 10pt;
    display:flex;
    text-align: center;
}
li [href]{
    color: blanchedalmond;
    padding:10px;
    text-decoration: none;
}
#active {
    color:white;
    }
.btn {
    padding: 1px;
    font-family: "Roboto", sans-serif;
    background-color: aqua;
    color: white;
    box-shadow: 5px 2px 2px black;    
}
ul {
    margin-left: 60%;
}